<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Contact</title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
      <div class="nav">
        <h1>
          <a href="/">Home</a>
        </h1> 
        <h1>|</h1> 
        <h1>
          <a href="/projects">Projects</a>
        </h1> 
        <h1>|</h1> 
        <h1>
          <a href="/contact">Contact</a>
        </h1>
      </div>
      <hr style="width: 82%; border: black 1px solid">
        <h1>Contact Me!</h1>
        <form>
          <label>Name</label>
          <input type="text" />
          <input type="text" />
          <button>Send</button>
        </form> 
    </body>
</html>